[Unit]
Description=OBD2 communications server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=<USER>
ExecStart=/usr/bin/env <OUT_NAME>

[Install]
WantedBy=multi-user.target
